@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes pulse {
    0%, 100% {
        transform: scale(1);
        opacity: 0.2;
    }
    50% {
        transform: scale(1.05);
        opacity: 0.3;
    }
}

.animation-delay-1000 {
    animation-delay: 1.5s;
}